<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Welcome to my Website</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/vendor.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>


<!-- header
================================================== -->
<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="/"><img src="/static/images/logo.png" alt="Homepage"></a>
    </div>

    <nav class="header-nav-wrap">
    <ul class="header-nav">
        <li class="current"><a class="smoothscroll" href="#home" title="home">Home</a></li>
        <li><a class="smoothscroll" href="#about" title="about">About</a></li>
        <li><a class="smoothscroll" href="#works" title="works">Projects</a></li>
        <li><a class="smoothscroll" href="#education" title="education">Education</a></li>
        <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>
    </ul>
</nav>

    <a class="header-menu-toggle" href="/"><span>Menu</span></a>

</header> <!-- end s-header -->


<!-- home
================================================== -->
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="/static/images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">

            <h3>Hello There</h3>

            <h1>
                I am Iliyan Angelov. <br>
                I am a Software & Web developer <br>
                 based in Bulgaria.
            </h1>

            <div class="home-content__buttons">
                <a href="#works" class="smoothscroll btn btn--stroke">
                    Latest Projects
                </a>
                <a href="#about" class="smoothscroll btn btn--stroke">
                    More About Me
                </a>
            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

        </div>

    </div> <!-- end home-content -->

    <ul class="home-social">
        <li>
            <a href="https://www.facebook.com/profile.php?id=100069842901335"><i class="im im-facebook" aria-hidden="true"></i><span>Facebook</span></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/iliyan-angelov-0ab8592a4/"><i class="im im-linkedin" aria-hidden="true"></i><span>Linkedin</span></a>
        </li>
        <li>
            <a href="https://github.com/Angelov9004/"><i class="im im-github" aria-hidden="true"></i><span>Github</span></a>
        </li>
    </ul>
    <!-- end home-social -->

</section> <!-- end s-home -->


<!-- about
================================================== -->
<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>About</h3>
            <h1>More About Me</h1>
            <p class="lead">Outside of work, I enjoy staying up to date with the latest developments in technology and software engineering. I also like to participate in coding challenges and hackathons to continuously sharpen my problem-solving skills and learn new techniques.</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>H!</h3>

            <p>I am Iliyan Angelov, and I'm located in Burgas , Bulgaria.</p>

            <p>
As a highly motivated Junior Developer, I possess a fervent dedication to crafting efficient and secure applications. My enthusiasm, self-motivation, reliability, and sense of responsibility are integral to my work ethic.

I thrive in collaborative environments, valuing teamwork while also demonstrating initiative when needed. Adapting to challenging situations comes naturally to me, and I approach each task with a mature and flexible mindset.

Whether working under pressure or within strict deadlines, I maintain composure and deliver results. With a passion for Java development, I am committed to continuous learning and growth in this dynamic field.

            </p>
        </div>

        <div class="col-six tab-full right">
            <h3>I've Got Some skills.</h3>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Python</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Java</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>CSS</strong>
                </li>
                <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>HTML</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>100%</span></div>
                    <strong>Wordpress</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>60%</span></div>
                    <strong>PHP</strong>
                </li>
            </ul>
        </div>

    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="/static/resume/AngelovResume.pdf" class="btn btn--primary full-width" target="_blank">See My CV</a>
        </div>
        <div class="col-six tab-full right">
            <a href="#contact" class="smoothscroll btn full-width">Hire Me Now</a>
        </div>

    </div> <!-- end about-content buttons -->

    <div class="row about-content about-content--timeline">

        <div class="col-full text-center">
            <h3>My Work Experience.</h3>
        </div>

        <div class="col-six tab-full left">
            <div class="timeline">

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">2023 November - Currently</p>
                        <h3>Jobworx Ltd.</h3>
                        <h5>Junior Java developer</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>Coding and Development: Writing clean, maintainable code using Java programming language and related technologies to develop software applications, modules, or components.

Testing: Writing unit tests and conducting testing to ensure the quality and reliability of your code. This may involve unit testing, integration testing, and occasionally, automated testing.</p>
                    </div>
                </div> <!-- end timeline__block -->

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">July 2011 - June 2014</p>
                        <h3>Ashdown Group</h3>
                        <h5>System Administrator</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>Ensuring organization server systems are running smoothly installing, troubleshooting and maintaining systems.</p>
                    </div>
                </div> <!-- end timeline__block -->

            </div> <!-- end timeline -->
        </div> <!-- end left -->

        <div class="col-six tab-full right">
            <div class="timeline">

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">July 2016 - Currently</p>
                        <h3>Freelance</h3>
                        <h5>Web and Software developer</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>Web Design, Front-End Development, Database Management, Web Performance and SEO Optimization.</p>
                    </div>
                </div> <!-- end timeline__block -->

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">April 2017 - May 2022</p>
                        <h3>Riva Marine SIA</h3>
                        <h5>2nd Officer</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>On a ship, the role of a Second Officer, also known as a Second Mate, typically involves a variety of navigational, safety, and administrative responsibilities.</p>
                    </div>
                </div> <!-- end timeline__block -->

            </div> <!-- end timeline -->
        </div> <!-- end right -->

    </div> <!-- end about-content timeline -->

</section> <!-- end about -->


<!-- works
================================================== -->
<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1>See My Latest Projects.</h1>

            <p class="lead">What i'm interested in? Networking, Web development, IT Support, Java & Python programming and more.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://github.com/Angelov9004/CarService">
                            <img src="/static/images/portfolio/service.jpg" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Car Service
                        </h3>
                        <p class="item-folio__cat">
                            Java
                        </p>
                    </div>

                    <a href="https://github.com/Angelov9004/CarService" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://github.com/Angelov9004/HTTP-Server">
                            <img src="/static/images/portfolio/http.jpg" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            HTTP SERVER
                        </h3>
                        <p class="item-folio__cat">
                            Java
                        </p>
                    </div>

                    <a href="https://github.com/Angelov9004/HTTP-Server" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://github.com/Angelov9004/ATM">
                            <img src="/static/images/portfolio/atm.jpg" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Bank ATM
                        </h3>
                        <p class="item-folio__cat">
                            Java
                        </p>
                    </div>

                    <a href="https://github.com/Angelov9004/ATM" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://github.com/Angelov9004/Movies-REST-API">
                            <img src="/static/images/portfolio/rest.png" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Movies - REST API
                        </h3>
                        <p class="item-folio__cat">
                            Java
                        </p>
                    </div>

                    <a href="https://github.com/Angelov9004/Movies-REST-API" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://github.com/Angelov9004/Email-Console-Application">
                            <img src="/static/images/portfolio/email.png" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Email App
                        </h3>
                        <p class="item-folio__cat">
                            Java
                        </p>
                    </div>

                    <a href="https://github.com/Angelov9004/Email-Console-Application" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://angeloviliyan.com">
                            <img src="/static/images/portfolio/portfolio.png" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Personal Portfolio
                        </h3>
                        <p class="item-folio__cat">
                            Flask , Python
                        </p>
                    </div>

                    <a href="https://angeloviliyan.com" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://angeloviliyan.com">
                            <img src="/static/images/portfolio/angelov.png" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            My website
                        </h3>
                        <p class="item-folio__cat">
                            PHP
                        </p>
                    </div>

                    <a href="https://angeloviliyan.com/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

        </div>
    </div> <!-- end masonry -->

</section> <!-- end works -->



<!-- education
================================================== -->
<section id="education" class="s-education target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Education</h3>
            <h1>Education & Certification.</h1>
            <p class="lead">How do i keep myself updated with latest technologies.</p>
        </div>
    </div>

    <div class="row blog-content">
        <div class="col-full">

            <div class="blog-list block-1-2 block-tab-full">
                <article class="col-block">

                    <div class="blog-date">
                        <a>Sept 16, 2017</a>
                    </div>

                    <h2 class="h01">Reading books.</h2>
                    <p>
                       Reading books is a fantastic way to deepen your understanding of programming concepts, learn new languages, and stay updated with the latest trends in the field. Here's a list of some highly recommended programming books across various topics and languages.
                    </p>

                    <div class="blog-cat">
                        <a>Programming</a><a>Books</a>
                    </div>


                </article>
                <article class="col-block">

                    <div class="blog-date">
                        <a>Sept 15, 2017</a>
                    </div>

                    <h2 class="h01"><a>Programming Courses.</a></h2>
                    <p>
                      In a world driven by constant change and complexity, the ability to think critically, analyze decisions, and solve problems is an invaluable skill set. These skills are not only essential for academic and professional success but also for navigating the complexities of everyday life.                    </p>

                    <div class="blog-cat">
                        <a>Programming Courses</a>
                    </div>


                </article>
                <article class="col-block">

                    <div class="blog-date">
                        <a>Sept 14, 2017</a>
                    </div>

                    <h2 class="h01"><a>Coding & Learning</a></h2>
                    <p>
                        Taking part in open source projects can be a fantastic way to improve your coding skills, collaborate with others, and contribute to the wider developer community.                     </p>

                    <div class="blog-cat">
                        <a>Coding</a><a>Debugging</a>
                    </div>
                </article>
                <article class="col-block">

                    <div class="blog-date">
                        <a>Sept 12, 2017</a>
                    </div>
                    <h2 class="h01"><a >Practicing Regularly.</a></h2>
                    <p>
                        Improving your algorithmic and critical thinking skills is essential for becoming a proficient programmer and problem solver. Like any skill, algorithmic thinking improves with practice. Solve coding challenges, puzzles, and algorithm problems. </p>

                    <div class="blog-cat">
                        <a>Practicing</a><a>Algorithms</a>
                    </div>
                </article>
            </div> <!-- end blog-list -->

        </div> <!-- end col-full -->
    </div> <!-- end blog-content -->

</section> <!-- end s-blog -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>Say Hello.</h1>

                <p class="lead">You can reach me via email  or by phone , I'm available any time,  for further discussion or clarification. Thank you for your time and consideration. I look forward to hearing from you soon.</p>
            </div>
        </div>

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                <form name="contact" id="contact" method="post" action="">
                    <fieldset>

                    <div class="form-field">
                        <label for="name"></label><input name="name" type="text" id="name" placeholder="Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <label for="email"></label><input name="email" type="email" id="email" placeholder="Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <label for="subject"></label><input name="subject" type="text" id="subject" placeholder="Subject" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <label for="message"></label><textarea name="message" id="message" placeholder="message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                       <button type="submit" value="Send Message">Send Message</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>

                    </fieldset>
                </form>

            </div>
            <div class="col-four tab-full contact__infos">
                <h4 class="h06">Phone</h4>
                <p>Phone: (+359) 896 13 80 30<br>
                </p>

                <h4 class="h06">Email</h4>
                <a href="mailto:email@example.com">Angelov@angeloviliyan.com</a>

                <h4 class="h06">Address</h4>
                <p>
                21 Voynishka street<br>
                Burgas, Bulgaria<br>
                8000 BG
                </p>
            </div>

        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="/"><img src="/static/images/logo.png" alt="Homepage"></a>
                </div>

                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/profile.php?id=100069842901335">
                        <i class="im im-facebook" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/iliyan-angelov-0ab8592a4/">
                        <i class="im im-linkedin" aria-hidden="true"></i>
                        <span>Linkedin</span>
                    </a></li>
                    <li><a href="https://github.com/Angelov9004/">
                        <i class="im im-github" aria-hidden="true"></i>
                        <span>Github</span>
                    </a></li>
                </ul>

            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Angelov 2024</span>
                    <span>Design by <a href="https://angeloviliyan.com/">Angelov</a></span>
                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#home"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>

<!-- Add smooth scrolling script -->
<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>

<html/>